- provide(:title, 'Quienes Somos')
.col-lg-12.text-center.v-center
  %table.table
    %thead
      %tr
        %th
        %th
          %h1 Equipo PILLER
    %tbody
      %tr
        %td
          %h2 Sergio Afonso García
        %td
          %h2 sergioafonso@piller.com
        %td
          %img{:height => "200", :src => "http://4.bp.blogspot.com/-NgTxiE1bE0E/UCJOAUQK1uI/AAAAAAAAAT4/6_rv_6Xl8gk/s1600/aguila.jpg", :width => "200"}/
      %tr
        %td
          %h2 Noel Díaz Mesa
        %td
          %h2 noeldiaz@piller.com
        %td
          %img{:height => "200", :src => "http://t0.gstatic.com/images?q=tbn:ANd9GcR01SpoiS-ylJXGVq97ILyYGJ4pEU5MuNmEl13Ic0P_ukQZ8ugYJw", :width => "200"}/
      %tr
        %td
          %h2 Antonio Pérez Hernández
        %td
          %h2 antonioperez@piller.com
        %td
          %img{:height => "200", :src => "http://www.rtve.es/resources/jpg/1/6/1294861332061.jpg", :width => "200"}/
  %br
    %br
      %br
        %h1 Donde Estamos
        %br
          %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388&amp;output=embed", :width => "425"}
          %br/
          %small
            %a{:href => "https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388", :style => "color:#0000FF;text-align:left"} Ver mapa más grande