<%= link_to gravatar_for(current_usuario, size: 10), current_usuario %>
<h1>
  <%= current_usuario.name %>
</h1>
<span>
  <%= link_to "Ver mi Perfil", current_usuario %>
</span>
<span>
  <%= pluralize(current_usuario.microvideos.count, "Microvideo") %>
</span>