%footer.footer
  %small
    %p{:align => "left"}
      ETSII ULL 2013 &nbsp; |
      %u Copyright by PILLER Team
  %nav
    %ul
      %li= link_to "Quienes Somos", about_path
      %li= link_to "Contacta", contact_path
      %li= link_to "Ayuda", help_path