<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes Somos", about_path %></li>
      <li><%= link_to "Contacta", contact_path %></li>
      <li><%= link_to "Ayuda", help_path %></li>
    </ul>
  </nav>
</footer>